.post-date {
    position: relative;
    padding-left: 2rem;

    &:before {
        position: absolute;
        left: 0;
        display: inline-block;
        text-align: center;
        width: 1.25rem;

        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-calendar-alt);
        line-height: inherit !important;
    }
}

.post-time {
    position: relative;
    padding-left: 2rem;

    &:before {
        position: absolute;
        left: 0;
        display: inline-block;
        text-align: center;
        width: 1.25rem;

        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-clock);
        line-height: inherit !important;
    }
}

.post-info {
    position: relative;
    padding-left: 2rem;

    &:before {
        position: absolute;
        left: 0;
        display: inline-block;
        text-align: center;
        width: 1.25rem;

        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-info-circle);
        line-height: inherit !important;
    }
}

.post-author {
    position: relative;
    padding-left: 2rem;

    &:before {
        position: absolute;
        left: 0;
        display: inline-block;
        text-align: center;
        width: 1.25rem;

        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-user);
        line-height: inherit !important;
    }
}

.post-company {
    position: relative;
    padding-left: 2rem;

    &:before {
        position: absolute;
        left: 0;
        display: inline-block;
        text-align: center;
        width: 1.25rem;

        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-building);
        line-height: inherit !important;
    }
}
