.post-date {
    position: relative;
    padding-left: 2rem;

    &:before {
        content: "\f073";
        position: absolute;
        left: 0;
        font-family: "FontAwesome";
        display: inline-block;
        text-align: center;
        width: 1.25rem;
    }
}

.post-time {
    position: relative;
    padding-left: 2rem;

    &:before {
        content: "\f017";
        position: absolute;
        left: 0;
        font-family: "FontAwesome";
        display: inline-block;
        text-align: center;
        width: 1.25rem;
    }
}

.post-info {
    position: relative;
    padding-left: 2rem;

    &:before {
        content: "\f05a";
        position: absolute;
        left: 0;
        font-family: "FontAwesome";
        display: inline-block;
        text-align: center;
        width: 1.25rem;
    }
}

.post-author {
    position: relative;
    padding-left: 2rem;

    &:before {
        content: "\f007";
        position: absolute;
        left: 0;
        font-family: "FontAwesome";
        display: inline-block;
        text-align: center;
        width: 1.25rem;
    }
}

.post-company {
    position: relative;
    padding-left: 2rem;

    &:before {
        content: "\f1ad";
        position: absolute;
        left: 0;
        font-family: "FontAwesome";
        display: inline-block;
        text-align: center;
        width: 1.25rem;
    }
}